
.project-title, .project-blurb {
    color: aliceblue;
    margin-bottom: .5rem;
}

.project-grid { 
    display: grid; 
    gap: 16px; 
    grid-template-columns: repeat(2, minmax(0,1fr)); 
}

.project-card { 
    background: transparent;
    border: 3px solid #133B5C; 
    border-radius: 16px; 
    padding: 16px; 
}

.skill{
    padding: 8px;
}

@media (max-width: 720px){ .project-grid { grid-template-columns: 1fr; } }